# Settings for cutome Pirate Midi Polar Plus V2. N16R2
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_MD5=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHMODE="qio"
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_160=y
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_COLOR_SCREEN_TRANSP=y
CONFIG_TONEX_CONTROLLER_HARDWARE_PLATFORM_WAVESHARE_169=y
CONFIG_TONEX_CONTROLLER_HAS_DISPLAY=y
CONFIG_TONEX_CONTROLLER_DISPLAY_SMALL=y
CONFIG_TONEX_CONTROLLER_GPIO_FOOTSWITCHES=y
CONFIG_TONEX_CONTROLLER_DEFAULT_MIDI_ENABLE=y
CONFIG_TONEX_CONTROLLER_WAVESHARE_169_LANDSCAPE=y
CONFIG_TONEX_CONTROLLER_LED_CONTROL_BOOT_FLASH=y
CONFIG_TONEX_CONTROLLER_LED_NUMBER=2
CONFIG_TONEX_CONTROLLER_LED_COLOUR_ORDER_GRB=y
CONFIG_TONEX_CONTROLLER_LED_SK6812=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=n
CONFIG_SPIRAM_RODATA=n
CONFIG_TONEX_CONTROLLER_HARDWARE_SUBVARIANT_PM_PLUSV2=y
